/* ###############################Tags Sections############################### */
body{
    margin: 0;
}

h1{
    margin-top:0px;
}

div {
    background-color:rgb(153, 237, 228);
    padding: 10px;
    
}

/* ###############################Class Sections############################### */

.top_container{
    background-color: aquamarine;
    border: solid 2px;
}

.middle_container{
    background-color: antiquewhite;
   
}

.bottom_container{
    background-color: blueviolet;
    
}
