        
body {
    background-color: #ECF2FF;
}

hr {
    width: 5%;
    border-color: grey;
    border-width: 5px;
    border-style: none; 
    border-top-style: dotted;
}

h1{
    color: rgb(11, 159, 159);
}
h2{
    color: rgb(11, 159, 159);
}